<h1>Here are the Results!</h1>

<% var summonerNamePlayer = dataPlayer["name"] %>
<% var summonerNameOpponent = dataOpponent["name"] %>

<% var summonerIdPlayer = dataPlayer["id"] %>
<h2><%= summonerIdPlayer %></h2>

<% var summonerIdOpponent = dataOpponent["id"] %>
<h2><%= summonerIdOpponent %></h2>