<h1>Enter Two Summoner Names!</h1>

<form action="/results" method="GET">
    <input type="text" placeholder="Summoner One" name="searchPlayer">
    <input type="text" placeholder="Summoner Two" name="searchOpponent">
    <input type="submit">
</form>